# Seed configuration
SEED_DB_SEED=thesis-fintech-base-v1
SEED_USER_EMAIL=sathis@gmail.com
SEED_USER_PASSWORD=123
SEED_USER_FIRSTNAME=Sathiskumar
SEED_USER_LASTNAME=Ravichandran
SEED_USER_CONTACT=+48 989876972
SEED_USER_COUNTRY=Poland
SEED_USER_CURRENCY=EUR

# Database logging
DB_VERBOSE=false

# Lighthouse audit
LIGHTHOUSE_BASE_URL=http://localhost:5173
LIGHTHOUSE_DEBUG_PORT=9222
LIGHTHOUSE_EMAIL=sathis@gmail.com
LIGHTHOUSE_PASSWORD=123
LIGHTHOUSE_RUNS=1
LIGHTHOUSE_OUTPUT_FILE=performance_metrics.json

# SonarQube audit
SONAR_URL=http://localhost:9000
SONAR_TOKEN=
SONAR_PROJECT_KEY=fintech-app
SONAR_PROJECT_NAME=Fintech App
SONAR_TEST_COMMAND=npm test
