@import 'tailwindcss';

@theme {
  --color-primary: #2563eb; /* fintech blue */
  --color-success: #16a34a; /* green */
  --color-danger: #dc2626; /* red */

  --color-background: #f8fafc;
  --color-card: #ffffff;
  --color-border: #e2e8f0;
  --color-text: #0f172a;
}
